.content {
  display: flex;
  flex-direction: column;
  grid-area: main;
}

.post-date {
  text-transform: uppercase;
  color: #666;
}

.post-content {
  display: flex;
  flex-direction: column;
}

.post-photo {
  min-width: 200px;
  min-height: 200px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.author-cards {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
}

.cards {
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 0px 15px 30px 40px;
}

.avatar {
  max-width: 250px;
  max-height: 250px;
}

.card-header {
  margin-bottom: 10px;
}

.card-info {
  margin: 3px;
  font-size: 0.85em;
  max-width: 270px;
}

/*changes for biger screens*/

@media(min-width:600px) {
  .container {
    grid-template-columns: 600px;
    grid-template-areas: "hd" "lg" "main" "mn" "ft";
  }
  .post-content {
    display: flex;
    flex-direction: column;
  }
  .post-photo {
    min-height: 300px;
  }
  .cards {
    display: flex;
    flex-direction: row;
  }
  .card-container {
    padding: 0px 15px 0px 20px;
  }
}

@media(min-width:1250px) {
  .container {
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-areas: "hd hd hd hd" "lg lg lg lg" "main main main mn" "ft ft ft ft";
  }
  .post-photo {
    min-height: 600px;
  }
  .cards {
    display: flex;
    flex-direction: row;
  }
  .card-container {
    padding: 0px 15px 0px 40px;
  }
}